@page "/zoo"
@using global::Zoo.Data;
@inject AnimalData ad;

<h3>New Zoo App</h3>
<button class="btn btn-danger" @onclick="@(() => Get(true))">Predators</button>
<button class="btn btn-success" @onclick="@(() => Get(false))">Herbivore</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Animal</th>
            <th scope="col">Predator</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var a in ad.GetAnimals(Predator))
    {
        <tr>
            <th scope="row">@a.Id</th>
            <td>@a.AnimalType</td>
            <td>@(a.Predator ? "Predator." : "Herbivore.")</td>
            <td>
                    <button class="btn btn-primary" @onclick="@(() => ad.FeedAnimal(a.Id))">Feed</button>
                    <button class="btn btn-success" @onclick="@(() => ad.PetAnimal(a.Id))">Pet</button>
                </td>
        </tr>
    }
    </tbody>

</table>

@code {
    public bool Predator { get; set; }

    void Get(bool predator)
    {
        Predator = predator;

    }
    /*AnimalData ad = new();
    List<Animal> animals = new();

    protected override void OnInitialized()
    {
        foreach (var a in ad.GetAnimals(false))
            animals.Add(a);
    }*/
}
